
/* START CSS*/

.container,
.col-4,
.col-sm-12,
.col-lg-4,
.col-md-4,
.col-lg-3,
.col-md-3,
.col-3 {
    border-style: solid;
    border-width: 1px;
    border-color: red;
}

.ImgCentre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.TxtCentre {
   text-align: center; 
}



/* END CSS */