
/* START CSS*/

.container,
.col-4,
.col-sm-12,
.col-lg-4,
.col-md-4,
.col-lg-3,
.col-md-3,
.col-3 {
    border-style: solid;
    border-width: 0px;
    border-color: rgb(255, 255, 255);
}

.ImgCentre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.TxtCentre {
    text-align: center; 
}

.NavbarBackground {
    background-color: #87E0FF;
}

.TopMarginRedirects {
    margin-top: 15%;
}

.TopMarginCards {
    margin-top: 5%;
}

.BottomMarginCards {
    margin-bottom: 2%;
}

.btn-secondary {
    --bs-btn-bg:#63D7FF;
    --bs-btn-hover-bg:#FBFFDA;
    --bs-btn-border-color:#ECECEC;
    --bs-btn-hover-border-color:#D8D8D8;
    --bs-btn-hover-color: #707070;
}

.btn-primary {
    --bs-btn-bg:#FBFFDA;
    --bs-btn-hover-bg:#63D7FF;
    --bs-btn-border-color:#D8D8D8;
    --bs-btn-hover-border-color:#ECECEC;
    --bs-btn-color:#707070;
    --bs-btn-hover-color:#fff;
}

.NavbarImageBorder {
    border-image: url('images/GreekKeyImageBoarderShort.png') 34% repeat !important;
    border-bottom: 30px solid !important;
}

.NavbarStick {
    position: fixed;
    top: 0;
    z-index: 1030;
}

.bg-body-tertiary {
    background-color: #FFF4B6 !important;
}

body{
    background-color: #FFFCE8;
}

.zIndexAhead {
    z-index: 100; /* NOT INFRONT OF NAVBAR */
}
/* END CSS */