
/* START CSS*/

.container,
.col-4,
.col-sm-12,
.col-lg-4,
.col-md-4,
.col-lg-3,
.col-md-3,
.col-3 {
    border-style: solid;
    border-width: 0px;
    border-color: rgb(255, 255, 255);
}

.ImgCentre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.TxtCentre {
    text-align: center; 
}

.RedBackground {
    background-color: rgb(255, 255, 255);
}

.TopMargin {
    margin-top: 100px;
}
/* END CSS */